body {
    background: #e6ecf0;
    font-family: "Asap", sans-serif;
    font-family: "Roboto", sans-serif;
}

.tweet-wrap {
    max-width: 490px;
    background: #fff;
    margin-top: 10px;
    border-radius: 3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
}

.tweet-header {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
}
.tweet-header-info {
    font-weight: bold;
}
.tweet-header-info span {
    color: #657786;
    font-weight: normal;
    margin-left: 5px;
}
.tweet-header-info p {
    font-weight: normal;
    margin-top: 5px;
}

@media screen and (max-width: 430px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tweet-header {
        flex-direction: column;
    }
}
